<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.chenwe.houseselljava.mapper.UsersMapper">

    <insert id="save" parameterType="top.chenwe.houseselljava.domain.Users">
        INSERT INTO users (user_name, password, admin, token)
        VALUES (#{user.user_name,jdbcType=VARCHAR}, #{user.password,jdbcType=VARCHAR}, #{user.admin,jdbcType=CHAR}, #{user.token,jdbcType=VARCHAR})
    </insert>

    <delete id="delete" parameterType="top.chenwe.houseselljava.domain.Users">

    </delete>

    <update id="update" parameterType="top.chenwe.houseselljava.domain.Users">
    </update>

    <select id="findAll" resultType="top.chenwe.houseselljava.domain.Users">
        select * from orders
    </select>

    <select id="login" resultType="top.chenwe.houseselljava.domain.Users" parameterType="java.lang.String">
        SELECT * FROM users WHERE user_name = #{name,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
    </select>

    <update id="saveToken">
        UPDATE users
        SET token = #{token,jdbcType=VARCHAR}
        WHERE user_id = #{user_id}
    </update>

    <select id="findByUserName" resultType="top.chenwe.houseselljava.domain.Users">
        SELECT * FROM users WHERE user_name = #{user_name,jdbcType=VARCHAR}
    </select>

    <select id="findUserIdByUserToken" resultType="java.lang.Integer">
        SELECT user_id FROM  users WHERE token = #{token}
    </select>
</mapper>